body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    color: #39393a;
    margin-top:40px;
}

.main-container img {
    margin:auto;
}

.main-container .social{
    margin-top:100px;
}

.main-container .social li {
    margin-top:20px;
}

.main-container a,
.main-container .title {
    color:#39393a;
    font-size:24px;
    font-weight: 300;
}

.main-container .title {
    font-weight:bold;
}

.main-container a:hover,
.main-container a:focus {
    color: #39393a;
}

.main-container a .fa {
    font-size:40px;
}

.img-profile {
	border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border: 2px solid #39393a;
}
